{% extends "thermoser/base.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
  <div class="container bootstrap snippets bootdey">
<div class="row ng-scope" style="margin-top: 20px">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact"></div>
                <h3 class="m0 text-bold">{{ scanner.name }}</h3>
                <div class="mv-lg">
                    <p style="padding:10px 0;">University Of The Cordilleras <br/> {{ scanner.dept }}</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default hidden-xs hidden-sm">
            <div class="panel-heading">
                <div class="panel-title text-center" style="text-align: center; font-weight: 900;">Recent users</div>
            </div>
            <div class="panel-body">
                {% for user_scanner in user_scanners %}
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Contact"></a>
                    </div>
                    <a href="{% url 'thermoseer:user_scanner_detail' user_scanner.scanner_id %}">
                    <div class="media-body pt-sm">
                        <div class="text-bold" style="margin: 4px;">{{ user_scanner.name }}
                            <div class="text-sm text-muted">{{ user_scanner.updated|timesince }} ago</div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8" style="padding: 5px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="h4 text-center">Student Information</div>
                <div class="row pv-lg" >
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact1">Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact1" type="text" value="{{  scanner.name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputContact2">Department</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact2" type="email" value="{{ scanner.dept  }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="inputContact3" >Student Id</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact3" type="text" value="{{  scanner.scanner_id }}">
                                </div>
                            </div>
                            {% if latest_test.temp  %}
                                   <div class="form-group">
                                <label style="color: #fabe04; font-weight: 900;" class="col-sm-9 control-label" for="inputContact4" >Latest Temperature Result</label>
                                <div class="col-sm-10">
                                    <input style="color: #571405; font-weight: 900;" class="form-control" id="inputContact4" type="text" value="{{ latest_test.temp }}">
                                </div>
                            </div>
                                {% else %}
                                   <div class="form-group">
                                <label class="col-sm-9 control-label" for="inputContact4">Latest Temperature Result</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact4" type="text" value="0.0">
                                </div>
                            </div>
                            {% endif %}

                        </form>

                    </div>
                </div>
            </div>

        </div>
        {% if temperatures  %}
            <table class="table table-hover table-dark">
                    <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Temperature</th>
                         <th scope="col">Status</th>
                        <th scope="col">Time</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center;">
                    {% for temperature in temperatures %}
                        <tr {% if temperature.status == 'HIGH' %}style="background: #b24c00; border: none;" {% endif %}>
                                <th scope="row">{{ temperature.scanner_id }}</th>
                                <td>{{ temperature.scanner }} </td>
                                <td>{{ temperature.temp }}</td>
                                <td>{{ temperature.status }}</td>
                                <td>{{ temperature.publish|time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% include "thermoser/pagination.html" with page=temperatures %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}