{% extends "thermoser/base.html" %}
{% load static %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if temperatures %}
                <h1>{{ temperatures.count }} List Of Temperature{{ temperatures.count|pluralize }}</h1>
            {% else %}
                <h1>List of temperatures test</h1>
            {% endif %}
        </div>
    </div>
{#    <form action="{% url 'thermoseer:temperature_list' %}" method="get">#}
{#  <input#}
{#    type="search"#}
{#    name="scanner"#}
{#    placeholder="Search name or id..."#}
{#    class="form-control"#}
{#  />#}
{#</form>#}
{#</form>#}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if temperatures %}
                <table class="table table-hover table-dark">
                    <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center;">
                    {% for temperature in temperatures %}

                        <tr {% if temperature.status == 'HIGH' %}style="background: #b24c00; border: none;" {% endif %}>
                                {% if temperature.scanner_id %}
                                    <th scope="row"> <a href="{% url 'thermoseer:user_scanner_detail' temperature.scanner_id %}">{{ temperature.scanner_id }} </a></th>
                                    <td><a href="{% url 'thermoseer:user_scanner_detail' temperature.scanner_id %}">{{ temperature.name }} </a></td>
                                    <td><a href="{% url 'thermoseer:user_scanner_detail' temperature.scanner_id %}">{{ temperature.temp }} </a></td>
                                    <td><a href="{% url 'thermoseer:user_scanner_detail' temperature.scanner_id %}">{{ temperature.publish }} </a></td>
                                    <td><a href="{% url 'thermoseer:user_scanner_detail' temperature.scanner_id %}">{{ temperature.status }} </a></td>
                                 {% endif %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% include "thermoser/pagination.html" with page=temperatures %}
            {% else %}
                <div class="text-center">
                    <h2>Looks like you don't have any temperatures!</h2>
                    <br>
                    <a role="button" class="btn btn-primary" href="{% url 'thermoseer:create_temperature' %}">New
                        Temperature</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}