{% extends 'thermoser/base.html' %}
{% load static %}
{% block content %}
    <div class="header">
        <div class="logo">
            <img src="https://www.uc-bcf.edu.ph/assets/images/uc_logo_white_ext_h150.png?fbclid=IwAR1iHVqivpeuZKvooXwkyxzQEIdF-sdKH0-Cw9J4BuzkSWyYiwXw0fuAOtg" alt="">
        </div>
        <div style="text-align: center;">
            <div class="time">
                <!-- INPUT HERE THE TIME AND DATE -->
                <h2>MONDAY<br>8 AM</h2>
                <!-- INPUT HERE THE TIME AND DATE -->
            </div>
        </div>
            <div class="weather">
                <!-- INPUT HERE THE WEATHER AND OTHER INFORMATION -->
                <h2>24 C<br>40% HUMIDITY</h2>
                <!-- INPUT HERE THE WEATHER AND OTHER INFORMATION -->
            </div>
    </div>
    <div class="card">
        <div class="inner">
            <!-- INPUT HERE THE CARD INFORMATION (TEMP, ID, NAME) -->
        </div>
    </div>
{% endblock %}